<!--navigation-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">EmuStock</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right">

                <li class="page-scroll">
                    <a href="#{{vm.shared.getRoute('profile')}}">Profile</a>
                </li>

                <li class="page-scroll">
                    <a href="#{{vm.shared.getRoute('timeline')}}">TimeLine</a>
                </li>
                <li class="page-scroll">
                    <a href="#{{vm.shared.getRoute('self_stocks')}}">My Stock</a>
                </li>
                <li class="page-scroll">
                    <a href="#{{vm.shared.getRoute('stock_search')}}">Stock Search</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Social <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#{{vm.shared.getRoute('self_follower')}}">My follower</a></li>
                        <li><a href="#{{vm.shared.getRoute('self_following')}}">My following</a></li>
                    </ul>
                </li>
                <li class="page-scroll">
                    <a ng-click="vm.logout()"><span class="fa fa-sign-out"></span>Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
