<nav-bar></nav-bar>

<div class="container top">
    <div ng-repeat="comment in vm.comments">
        <h4><a href="#{{vm.shared.getRoute('user_detail',  {o_uid: user._id})}}">{{comment.user.username}}</a></h4>
        <blockquote>
            <p>{{comment.html}}</p>
            <small>
                <a href="#{{vm.shared.getRoute('self_stock_detail', {symbol: comment.stock})}}"> {{comment.stock}}</a>
                <cite title="Source Title" class="text-muted">{{comment.createdAt}}</cite>
            </small>
        </blockquote>
    </div>
</div>
