<nav-bar></nav-bar>

<div class="container top">
    <ul class="list-group">
        <li ng-repeat="stock in vm.stocks" class="list-group-item">
            <a href="#">
                {{stock.name}}
            </a>
            <!--use modal to show the chart of a stock-->
            <!-- Trigger the modal with a glyphicon -->
           <!-- <span class="glyphicon glyphicon-eye-open pull-right" data-toggle="modal" data-target="#myModal"></span>-->
        </li>
    </ul>



    <!-- Modal -->
    <!--<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            &lt;!&ndash; Modal content&ndash;&gt;
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">stock chart</h4>
                </div>
                <div class="modal-body">
                    &lt;!&ndash;TO DO&ndash;&gt;
                    <div id="stock-chart"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>-->
</div>
