<nav-bar></nav-bar>

<div class="container top">
    <div class="form-group">
        <div class="input-group">
            <input ng-model="vm.input" type="text" placeholder="company or symbol" class="form-control">
            <span class="input-group-btn">
                <button ng-click="vm.search()" class="btn btn-primary" type="button">Go</button>
            </span>
        </div>
    </div>

    <!--SEARCH RESULT LIST-->
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Stock Symbol</th>
            <th>Stock Name</th>
            <th>Last Price</th>
        <tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.stocks">
            <td>{{item.Symbol}}</td>
            <td><a href="#{{vm.shared.getRoute('self_stock_detail', {symbol: item.Symbol})}}">{{item.Name}}</a></td>
            <td class="{{(item.Change >= 0) ? 'text-success' : 'text-danger'}}">
                {{item.LastPrice}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
