<nav-bar></nav-bar>

<div class="container top">
    <div class="jumbotron">
        <h3>vm.user.name</h3>

        <!--show this user's list of stocks-->
        <ul class="list-group">
            <li ng-repeat="stock in vm.stocks" class="list-group-item">
                <a href="{{vm.shared.getRoute('self_stock_detail')}}">
                    {{stock.name}}
                </a>
            </li>
        </ul>

        <!--show the button to follow/unfollow this user-->
        <p>
            <a ng-if="!vm.other.followed"
               ng-click="vm.follow()"
               class="btn btn-success btn-block">
                <span class="fa fa fa-heart"></span>Follow
            </a>

            <a ng-if="vm.other.followed"
               ng-click="vm.unfollow()"
               class="btn btn-danger btn-block">
                <span class="fa fa fa-trash"></span>Unfollow
            </a>
        </p>
    </div>


</div>