<nav-bar></nav-bar>

<div class="container top">

    <h3>Profile</h3>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   placeholder="alice"
                   readonly
                   ng-model="vm.user.username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   ng-model="vm.user.email"
                   placeholder="alice.w@example.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   class="form-control"
                   id="first-name"
                   ng-model="vm.user.name.first"
                   placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   class="form-control"
                   id="last-name"
                   ng-model="vm.user.name.last"
                   placeholder="Wonderland">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text"
                   class="form-control"
                   id="phone"
                   ng-model="vm.user.phone"
                   placeholder="+1 (000) 000 0000">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea type="text"
                      class="form-control"
                      id="address"
                      rows="2"
                      ng-model="vm.user.address"
                      placeholder="">
            </textarea>
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       ng-click="vm.update(vm.user)">Save Changes</a>
</div>

