<div class="container">
    <div ng-show="vm.error"
         class="alert alert-dismissible alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{vm.error}}</strong>
    </div>
    <h1 class="center-any-text">Register</h1>

    <form novalidate name="vm.myForm">
        <span ng-show="vm.myForm.username.$invalid">
            <h6>{{vm.alert}}</h6>
        </span>
        <input ng-model="vm.user.username"
               name="username"
               type="text"
               class="form-control"
               placeholder="Username"
               required/>
        <span ng-show="vm.myForm.password.$invalid">
            <h6>{{vm.alert}}</h6>
        </span>
        <input ng-model="vm.user.password"
               name="password"
               type="password"
               class="form-control"
               placeholder="Password"
               required/>
        <span ng-show="vm.myForm.verpass.$invalid">
            <h6>{{vm.alert}}</h6>
        </span>
        <input ng-model="vm.user.verpass"
               name="verpass"
               type="password"
               class="form-control"
               placeholder="Verify Password"
               required/>
        <span ng-show="vm.myForm.password.$viewValue != vm.myForm.verpass.$viewValue">
            <h6>{{vm.vpsdAlert}}</h6>
        </span>
        <br>

        <a class="btn btn-primary btn-block"
           ng-click="vm.register()">
            Register</a>
    </form>
    <p></p>
    <a class="btn btn-danger btn-block"
       href="#{{vm.shared.getRoute('login')}}"
       role="button">Cancel</a>
</div>
