<nav-bar></nav-bar>

<div class="container top">


    <!--CHART-->
    <div id="stock-chart"></div>

    <!--STOCK DETAIL LIST-->
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Stock Name</th>
            <th>{{vm.stock.quote.Name}}</th>
        </thead>
        <tbody>
        <tr>
            <td>Current Time</td>
            <td>{{vm.stock.quote.TimeStamp}}</td>
        </tr>
        <tr>
            <td>Symbol</td>
            <td>{{vm.stock.quote.Symbol}}</td>
        </tr>
        <tr>
            <td>Last Price</td>
            <td>{{vm.stock.quote.LastPrice}}</td>
        </tr>
        <tr>
            <td>Change</td>
            <td>{{vm.stock.quote.Change}}</td>
        </tr>
        <tr>
            <td>Change Percent</td>
            <td>{{vm.stock.quote.ChangePercent}}</td>
        </tr>
        </tbody>
    </table>

    <!--FOLLOW THE STOCK-->
    <p>
        <a ng-if="!vm.followed"
           ng-click="vm.follow()"
           class="btn btn-success btn-block">
            <span class="fa fa fa-heart"></span>Add to my list
        </a>

        <a ng-if="vm.followed"
           ng-click="vm.unfollow()"
           class="btn btn-danger btn-block">
            <span class="fa fa fa-trash"></span>Remove from my list
        </a>
    </p>

    <!--COMMENTS-->
    <ul class="breadcrumb">
        <li class="active">Comments</li>
    </ul>
    <!--comment list-->
    <div ng-repeat="comment in vm.comments">
        <p>{{comment.text}}</p>
        <small>{{comment.user}} <cite title="Source Title" class="text-muted">post on {{comment.createdAt}}</cite>
        </small>
    </div>
    <!--create my comment-->
    <form class="form-horizontal">
        <fieldset>
            <legend>Leave a comment</legend>
            <div class="form-group">
                <div class="col-lg-10">
                    <textarea class="form-control" rows="5" id="textArea"></textarea>
                    <span class="help-block">Share your reviews towards this stock!</span>
                    <a class="btn btn-primary btn-block col-lg-2"
                       ng-click="vm.createComment(vm.myComment)">Post</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
