<nav-bar></nav-bar>

<div class="container top">
    <table class="table table-striped" ng-if="vm.result">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Exchange</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.result">
            <td>{{item.Symbol}}</td>
            <td><a ng-click="vm.quote(item.Symbol)">{{item.Name}}</a></td>
            <td>{{item.Exchange}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total Results: {{vm.result.length}}</td>
        </tr>
        </tfoot>
    </table>
    <!--TODO: DETAIL-->
    <div>{{vm.details}}</div>

    <!--CHART-->
    <div id="stock-chart"></div>


    <!--COMMENTS-->
    <ul class="breadcrumb">
        <li class="active">Comments</li>
    </ul>
    <!--comment list-->
    <div ng-repeat="comment in vm.comments">
        <h2>{{comment.title}}</h2>
        <p>{{comment.text}}</p>
        <small>{{comment.user}} <cite title="Source Title" class="text-muted">post on {{comment.createdAt}}</cite>
        </small>
    </div>
    <!--edit my comment-->
    <form class="form-horizontal">
        <fieldset>
            <legend>Leave a comment</legend>
            <div class="form-group">
                <label for="comment-title">Title</label>
                <!--title for the comment-->
                <input ng-model="vm.myComment.title"
                       type="text"
                       name="title"
                       class="form-control"
                       id="comment-title"
                       placeholder="Comment title">
            </div>
            <div class="form-group">
                <!--text for the comment-->
                <textarea ng-model="vm.myComment.text"
                          type="text"
                          name="text"
                          rows="5"
                          class="form-control"
                          id="comment-text"
                          placeholder="Post your comment here"></textarea>
            </div>
            <span class="help-block">Add your comment to this stock</span>
        </fieldset>
    </form>
    <a class="btn btn-primary  btn-block"
       ng-click="vm.createComment(vm.myComment)">Delete</a>
</div>
