<nav-bar></nav-bar>


<div class="container top">
    <h3 align="center">All User List</h3>
<table class="table table-striped table-hover" ng-if="vm.users">
    <thead >
    <tr>
        <th class="adminTb">Name</th>
        <th class="adminTb">Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td class="adminTb">aaa</td>
        <td class="adminTb"><a class="btn btn-primary btn-xs">delete</a></td>
    </tr>
    <tr >
        <td class="adminTb">{{user.username}}</td>
        <td class="adminTb"><a class="btn btn-primary btn-xs">delete</a></td>
    </tr>
    </tbody>
</table>
</div>
